{% extends "blog/base.html" %}

{% block content %}


    <div id="home" class=" mb-0 d-flex align-items-center text-center min-100 col-12" style="margin-top: -30px;" id="header">
        <div class="container pt-2 text-sm-center">
            <div class="">
                <h1 class="display-2 d-none d-md-block ">MomWebDevity</h1>
                <h2 class=" d-md-none">MomWebDevity</h2>
                <!-- <p class="lead">&lt;mom&gt; Programming and Parenting &lt;/mom&gt;</p> -->
            </div>
            <div>
                <blockquote class="blockquote text-center">
                    <p class="mb-0"> &quot; {{ quoteText }}&quot;</p>
                    <p class="blockquote-footer">{{ quoteAuthor }}</p>
                </blockquote>
                  
            </div>
            <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
                <button type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#register">Contact Me</button>
            </div>         
        </div>         
    </div>


{% endblock %}