
{% extends 'blog/base.html' %}
{% block content %}
<div class="col-md-10">
    <h2 class="mb-3">New post</h2>
    <form method="POST" class="">{% csrf_token %}
        <style>
            textarea {
                width: 15em;
            }
             
            @media screen and (min-width: 480px) {
                textarea {
                    width: 20em;
                }
            }
            @media screen and (min-width: 768px) {
                textarea {
                    width: 30em;
                    height: 10em;
                }
            }
            @media screen and (min-width: 992px) {
                textarea {
                    width: 40em;
                    height: 10em;
                }
            }
        </style>
        {% for field in form %}       
            <p class="mb-0">{{ field.label_tag }}
            </p>
            <p class="mb-1">{{ field }}</p>
            
        {% endfor %}   
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>    
{% endblock %}