{% extends 'blog/base.html' %}

{% block content %}

<div class="col-lg-12  " style="color: black;">
    {% for post in posts %}
    <div id="posts" class="post card mb-4" >
        <div class="card-body"> 
            <div class="card-title row">
                <h3 class="col-6"><a href="{% url 'post_detail' pk=post.pk %}" style="color: black;">{{ post.title }}</a></h3>   
                <p class="text-muted  col-6"><small>{{ post.created_date|date:'m-d-Y' }}</small></p> 
            </div>
            <p class="card-text">{{ post.text|linebreaksbr }}</p>
        </div>    
    </div>    
    {% empty %}
        <div class="display-4">No Drafts!!!
            <p class="text-muted">Get to writing!</p>
        </div>
    {% endfor %}
</div>    
{% endblock %}