{% extends 'blog/base.html' %}
{% block content %}
<div class="col-lg-12  " style="color: black;">
    {% if new_comment %}
    <div class="alert alert-success" role="alert">
        Your comment posted!
    </div>
        {% endif %}
    <div id="posts" class="post card mb-4">
        <div class="card-body"> 
            <div class="card-title row">
                <div class="col-md-9">
                    <h3>{{ post.title }}</h3>    
                </div>
                <div class="col-md-3">
                    <p class="text-muted">{{ post.published_date }}</p> 
                </div>
            </div>
                <p class="card-text">{{ post.text|linebreaksbr }}</p>
            <div>
                {% if user.is_superuser %}
                <a class="btn btn-secondary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                <a class="btn btn-dark" href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-dark" href="{% url 'post_remove' pk=post.pk %}"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>
                
            <hr>

            <div class="row mx-0">
                <!-- comments -->
                {% for comment in comments %}
                <style>
                    .speech-bubble {
                        position: relative;
                        background: lightgray;
                        border-radius: .4em;
                    }

                    .speech-bubble:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 0;
                        height: 0;
                    }
                </style>
                <div class="comment col-md-10 mx-0" >
                    <p class="mb-0"><small ><b>{{ comment.author }}   </b></small></p><p class="speech-bubble">{{ comment.text | linebreaksbr }}</p>
                </div>
                <div class="text-muted col-md-2 ">
                    {% if user.is_superuser %}
                    <a href="{% url 'comment_remove' pk=comment.pk %}"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                </div> 
                {% empty %}
                <div>
                    <p>No comments here yet :(</p>
                </div>
                {% endfor %}
            </div> 
            <div class="col-lg-12 ">
                <h6>Leave a comment</h6>
        
                <form method="post" style="margin-top: 1.3em;">
            
                        {{ comment_form.as_p }}{% csrf_token %}
                    
                    
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>  
{% endblock %}                      
              
         

