{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <div class="col-lg-12" style="color: black;">
        <div class="card mb-4">
            <div class="card-body">    
                <h3 class="card-title text-center">Random Quote</h3>
                <blockquote class="blockquote text-center">
                    <p class="mb-0 mt-2">&quot; {{ quoteText }}&quot;</p>
                    <p class="blockquote-footer">{{ quoteAuthor }}</p>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="col-lg-8  " style="color: black;">
        {% for post in posts %}
            <div id="posts" class="post card mb-4">
                <div class="card-body" > 
                    <h3 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}" style="color: black;">{{ post.title }}</a></h3>    
                    <p class="card-text text-muted h6">{{ post.published_date }}</p> 
                    <p class="card-text">{{ post.text|slice:":200" }}</p>
                        <style>
                            #all:focus {
                                color: red;
                            }
                            #all:focus-within {
                                box-shadow: none;
                            }
                        </style>
                        <button id="all" class="btn" >❤</button>
                    <a href="{% url 'post_detail' pk=post.pk %}" style="color: black;">Comments: {{ post.approved_comments.count }}</a>
                    <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-secondary ">Read More &rarr;</a>
                </div>
            </div>
        {% endfor %}
    </div>  

    <!-- Sidebar Widgets Column -->
    <div class="col-lg-4" style="color: black;">

        <div class="card">
        
            <h3 class="card-header">About Me</h3>
            <div class="card-body ">
                
                <img src="../../static/css/IMG_5206.JPG"  style="width:10em; height: auto; ">
                <p class="card-text"> Hi, my name is <b>Ruth Amaya</b>. <br />
                    I am a bilingual web development student learning HTML, CSS, Javascript, jQuery, Python and frameworks such as Angular and Django. Excited to broaden my skills and begin a career in front-end development. This awesome blog is made using a great full stack framework 'Django'!</p>
                <a href="https://linkedin.com/in/ruthamaya" class="btn btn-danger">Know more!</a>
            </div>
            
        </div>
    </div>  
       
  
{% endblock %}
