{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div id="posts" class="post">
            <div class="text-muted ml-3">
                {{ post.published_date }}
            </div>
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>     
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock %}
