h1 , h2 {
    color: #ecf0f1;
    font-family: "Arial, Helvetica, sans-serif";
}
h2 {
    background-color: none;
}
body {
    margin: 0;

    font-family: "Arial, Helvetica, sans-serif";

}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-header, footer{
    background-color: #4689cc;
    justify-content: space-between;
    padding: 0;
    margin: 0;
 

}
.links {
    color: #ecf0f1;
    font-size: 24pt;
    align-items: flex-end;

}


h1 {
    color: #ecf0f1;
    font-size: 36pt;
    text-decoration: none;
    list-style-type: none;
}

.content {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}



.date {
    color: #828282;
}



.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;

    font-size: 26pt;

}

.post {
    margin-bottom: 70px;
}


ul {
    color: #ecf0f1;
    font-size: 18pt;

    margin-bottom: 10px;
}
.flex {
    display: flex;
}
.flex-col-container {
    flex-direction: column;
}
.flex-row-container {
    flex-direction: row;
}

a {
    text-decoration: none;
}
